# Ignore everything inside plugins/
Configs/.config/tmux/plugins/*

# ignore hypr colorscheme
Configs/.config/hypr/scheme/current.conf

#[ Ignore colorscheme for gtk & qt ]
Configs/.config/gtk-3.0/gtk.css
Configs/.config/gtk-4.0/gtk.css

Configs/.config/qt5ct/colors/caelestia.colors
Configs/.config/qt6ct/colors/caelestia.colors

Configs/.config/spicetify/*
Configs/.config/spicetify/Themes/caelestia/color.ini
!Configs/.config/spicetify/Themes
!Configs/.config/spicetify/Themes/*
